%h2 Calendar app with autorization
%p.text-muted Вы просматриваете общий для всех пользователей календарь

= month_calendar events: @events do |date, events|
  = date

  - events.each do |event|
    %div{class:"#{event.view_class}"}
      = event.title
