main .btn {
    margin: 5px;
}
.simple-calendar {
  .day {
      height: 120px;
      a {
          color: inherit;
          text-decoration: underline;
      }
  }

  .wday-0 {
      background-color: $brand-warning;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {
      
  }
  .wday-6 {
      background-color: $brand-warning;
  }

  .today {
      border: 1px $gray solid;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
      color: $gray-light;
  }
  .next-month {
      color: $gray-light;
  }
  .current-month {}

  .has-events {}
}
